.abc{
    margin-left: 10%;
    margin-right: 10%;
}
.abc p{
    color: azure;
    font-size: 30px;
    
}
.abc h1{

    text-align: center;
    font-size: 50px;
    margin: 3px 0px;
    color: rgb(206, 137, 47);
    height: auto;

}
#home{
    height: auto;
}
@media (max-width:660px){
   .abc h1{
       font-size: 40px;
   }
   .abc p{
    color: azure;
    font-size: 18px;
}